body {
  background-color: #f0f0f0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1919px) {
  .center {
    width: 96%;
  }
}

.container-header {
  background-color: #ffffff;
}
.container-header header {
  padding-top: 23px;
  padding-bottom: 29px;
  display: grid;
  grid-template-columns: 80px 220px auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 1330px) {
  .container-header header {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (max-width: 1279px) {
  .container-header header {
    grid-template-rows: auto auto;
    row-gap: 18px;
    padding-bottom: 11px;
  }
}
.container-header header .catalog .btn-city-search {
  font-family: "Gotham Pro";
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #222;
  background-color: #ffffff;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.container-header header .catalog .btn-city-search::after {
  content: url(../img/arrow.png);
  margin-left: 8px;
}
.container-header header .catalog .btn-city-search:hover {
  text-shadow: 0 0 1px currentColor;
}
.container-header header .catalog .btn-catalog-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 4px;
  width: 220px;
  height: 50px;
  background-color: #1c69d4;
  border: none;
  margin-top: 18px;
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
.container-header header .catalog .btn-catalog-search::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 23px;
  margin-right: 17px;
  background: url("../img/burger.png") no-repeat center/contain;
}
.container-header header .catalog .btn-catalog-search:hover {
  background-color: #2681ff;
}
.container-header header .catalog .btn-catalog-search:active {
  background-color: #0055cb;
}
.container-header header .navigation .navigation-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.container-header header .navigation .navigation-top .navigation-top-right {
  display: flex;
}
.container-header header .navigation .navigation-top .navigation-top-right .number {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 18px;
  line-height: 109%;
  color: #222;
  margin-right: 36px;
}
.container-header header .navigation .navigation-top .navigation-top-right .number p {
  white-space: nowrap;
}
.container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel a {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 131%;
  color: #222;
  text-decoration: none;
  margin-right: 40px;
}
.container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel a:first-of-type {
  font-weight: 500;
}
.container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel a:hover {
  text-shadow: 0 0 1px currentColor;
}
@media only screen and (max-width: 1330px) {
  .container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel a:last-of-type {
    margin-right: 28px;
  }
}
@media only screen and (max-width: 1540px) {
  .container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel .media-disable {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  .container-header header .navigation .navigation-top .navigation-top-right .navigation-pannel {
    display: none;
  }
}
.container-header header .navigation .navigation-top .navigation-top-left {
  display: flex;
}
.container-header header .navigation .navigation-top .navigation-top-left button {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.container-header header .navigation .navigation-top .navigation-top-left button span {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #222;
  margin-left: 8px;
}
.container-header header .navigation .navigation-top .navigation-top-left button:last-of-type {
  margin-left: 24px;
}
.container-header header .navigation .navigation-top .navigation-top-left button:hover {
  text-shadow: 0 0 1px currentColor;
}
.container-header header .navigation .navigation-bottom .navigation-search {
  position: relative;
  z-index: 10;
}
.container-header header .navigation .navigation-bottom .navigation-search:focus-within .search-btn {
  display: inline-block;
}
.container-header header .navigation .navigation-bottom .navigation-search:focus-within input {
  outline: none;
  background-color: #fff;
}
.container-header header .navigation .navigation-bottom .navigation-search input {
  border: 1px solid #bbb;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-left: 49px;
  background: url(../img/search.png) no-repeat 20px center;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #222;
}
.container-header header .navigation .navigation-bottom .navigation-search input::-moz-placeholder {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #999;
}
.container-header header .navigation .navigation-bottom .navigation-search input::placeholder {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #999;
}
.container-header header .navigation .navigation-bottom .navigation-search .search-btn {
  display: none;
  position: absolute;
  right: 0;
  border-radius: 4px;
  width: 237px;
  height: 50px;
  background-color: #1c69d4;
  border: none;
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.container-header header .navigation .navigation-bottom .navigation-search .search-btn:hover {
  background-color: #2681ff;
}
.container-header header .navigation .navigation-bottom .navigation-search .search-btn:active {
  background-color: #0055cb;
}
.container-header header .navigation .navigation-bottom .search-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: opacity 0.5s;
}
.container-header header .navigation .navigation-bottom .navigation-search:focus-within ~ .search-overlay {
  opacity: 1;
  pointer-events: auto;
}
.container-header header .media-navigation-pannel {
  display: none;
  grid-column-start: 2;
  grid-column-end: 4;
}
.container-header header .media-navigation-pannel a {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 131%;
  color: #222;
  text-decoration: none;
  margin-right: 40px;
}
.container-header header .media-navigation-pannel a:first-of-type {
  font-weight: 500;
}
.container-header header .media-navigation-pannel a:hover {
  text-shadow: 0 0 1px currentColor;
}
@media only screen and (max-width: 1279px) {
  .container-header header .media-navigation-pannel {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */